# NodeJS dependencies
node_modules/

# Python Virtual Environment
venv/
*/venv/

# Python cache
__pycache__/
*.pyc

# Build folders & logs
dist/
build/
npm-debug.log*
# Environment variables (contains secrets!)
.env

# macOS system files
.DS_Store

# User uploaded or processed content
backend/uploads/
backend/processed/